<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695515439792-gpmh7fuvibuo5s9ptdv7j5vd5ccnmlbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695515439792-gpmh7fuvibuo5s9ptdv7j5vd5ccnmlbm</string>
	<key>API_KEY</key>
	<string>AIzaSyAp5WAP7lVP9TGzjwEZgwjRDjeiqYK2X6A</string>
	<key>GCM_SENDER_ID</key>
	<string>695515439792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.nomanAshrafIOS.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchatios-fe390</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios-fe390.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695515439792:ios:204b24bcdcf00f856f9175</string>
</dict>
</plist>